# AirBNB Data

In [12]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import gmaps
import requests
import time



#from config import (census_key, gkey)
# Import API key

# Output File (CSV)

#Range of latitudes and longitudes
#lat_range = (40.49979, 40.91306)
#lng_range = (-74.24442, -73.71299)
lat_range = (90, 180)
lng_range = (90, 180)

In [13]:
#Read in csv file
abnb_data = pd.read_csv(file_one)
abnb_data.head()

,Unnamed: 0,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,0,2539,2787,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,0.21,6,365
1,1,2595,2845,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,0.38,2,355
2,2,3647,4632,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,0.00,1,365
3,3,3831,4869,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,4.64,1,194
4,4,5022,7192,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,0.10,1,0

In [14]:
#assign csv to variable
file_one = "AB_NYC_2019_clean.csv"

In [15]:
#Determine minimum latitude and longitude
abnb_data.min()

Unnamed: 0                                      0
id                                           2539
host_id                                      2438
neighbourhood_group                         Bronx
neighbourhood                            Allerton
latitude                                 40.49979
longitude                               -74.24442
room_type                         Entire home/apt
price                                           0
minimum_nights                                  1
number_of_reviews                               0
reviews_per_month                             0.0
calculated_host_listings_count                  1
availability_365                                0
dtype: object

In [16]:
#Determine maximum latitude and longitude
abnb_data.max()

Unnamed: 0                                48894
id                                     36487245
host_id                               274321313
neighbourhood_group               Staten Island
neighbourhood                          Woodside
latitude                               40.91306
longitude                             -73.71299
room_type                           Shared room
price                                     10000
minimum_nights                             1250
number_of_reviews                           629
reviews_per_month                          58.5
calculated_host_listings_count              327
availability_365                            365
dtype: object

In [17]:
#Store latitude and longitude into locations
locations = abnb_data[["latitude","longitude"]].astype(float)

In [18]:
#Create a air bnb layer
fig1 = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights= abnb_data.price,
                                 dissipating=False, max_intensity=100, point_radius=.001)

fig1.add_layer(heat_layer)

fig1

Figure(layout=FigureLayout(height='420px'))

In [19]:
#Create a air bnb layer
fig1 = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights= abnb_data.price>200,
                                 dissipating=False, max_intensity=100, point_radius=.001)

fig1.add_layer(heat_layer)

fig1

Figure(layout=FigureLayout(height='420px'))