In [1]:
#AirBnb T-Test

In [14]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as stats
from scipy.stats import linregress

In [15]:
#assign csv to variable
file_one = "fiveDay.csv"

In [16]:
#Read in csv file
compare = pd.read_csv(file_one)
compare

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,2787,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,0.21,6,365
1,2595,2845,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,0.38,2,355
2,3647,4632,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,0.00,1,365
3,3831,4869,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,4.64,1,194
4,5099,7322,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,0.59,1,129
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38747,36484087,274321313,Manhattan,Hell's Kitchen,40.76392,-73.99183,Private room,125,4,0,0.00,1,31
38748,36484363,107716952,Queens,Jamaica,40.69137,-73.80844,Private room,65,1,0,0.00,2,163
38749,36484665,8232441,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,0.00,2,9
38750,36485057,6570630,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,0.00,2,36
38751,36485609,30985759,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,0.00,6,2

In [17]:
## COMPARE MANHATTAN VS BROOKLYN ##

#Make a manhattan df and reduce it to just price

manhattan = compare.loc[(compare["neighbourhood_group"] == "Manhattan")]
type(manhattan)

pandas.core.frame.DataFrame

In [18]:
manhattan.dtypes

id                                  int64
host_id                             int64
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [19]:
manhattan = manhattan["price"]

In [20]:
brooklyn = compare.loc[(compare["neighbourhood_group"] == "Brooklyn")]
type(brooklyn)

pandas.core.frame.DataFrame

In [21]:
brooklyn["price"]

0        149
3         89
10        89
12       140
13       215
        ...
38739    170
38743    120
38746    170
38749     70
38750     40
Name: price, Length: 16385, dtype: int64

In [22]:
brooklyn = brooklyn["price"]

In [24]:
brooklyn.describe()

count    16385.00000
mean       126.00769
std        185.59809
min          0.00000
25%         60.00000
50%         95.00000
75%        150.00000
max      10000.00000
Name: price, dtype: float64

In [25]:
manhattan.describe()

count    16232.000000
mean       193.535054
std        255.130399
min          0.000000
25%         92.750000
50%        149.000000
75%        220.000000
max       9999.000000
Name: price, dtype: float64

In [26]:
brooklyn.describe()

count    16385.00000
mean       126.00769
std        185.59809
min          0.00000
25%         60.00000
50%         95.00000
75%        150.00000
max      10000.00000
Name: price, dtype: float64

In [13]:
stats.ttest_ind(manhattan, brooklyn, equal_var=False)

Ttest_indResult(statistic=27.31327834843445, pvalue=3.0220607701004607e-162)

In [ ]:
#high p value, we fail to reject the null, the variances are not equal

In [10]:
# newstats = stats.ttest_ind(manhattan, brooklyn, equal_var=True)

In [11]:
# newstats[1]

6.933712978882725e-163

In [12]:
# if newstats[1] < .05 :
#     print("The null hypothesis can be rejected")
# else: 
#     print("the null hypothese cannot be rejected")

The null hypothesis can be rejected